# Keil MDK
MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/Balence/
*.o
*.obj
*.elf
*.hex
*.bin
*.map
*.axf
Debug/
Release/
.settings/
*.launch
*.bak
.DS_Store
Thumbs.db
.cursor/
.vscode/
*.d
*.lst
*.crf
*.dep
*.uvguix.*
*.build_log.htm
*.lnp
*.__i
*.iex
*.sct
*.htm
*.dbgconf
EventRecorder.log
JLinkLog.txt
